header{
    width:100%;
    height:150px;
    background-color: beige;
}
.navigation{
    width: 100%;
    height:30px;
    background-color: bisque;
}
#contentHolder1{
    height:250px;
    width:33.4%;
    float:left;
    background-color: blue;
}
#contentHolder2{
    height:250px;
    width:66.3%;
    float:left;
    background-color:green;
}
#contentHolder3{
    height:250px;
    width:33.4%;
    float:left;
    background-color:red;
}
#contentHolder4{
    height:250px;
    width:66.3%;
    float:left;
    background-color:pink;
}
#contentHolder5{
    height:250px;
    width:100%;
    float:left;
    background-color:magenta;
}